.nav {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Align items vertically */
    background: linear-gradient(to right, #add8e6, #00008b); /* Gradient from light blue to dark blue */
    margin: 0;
    padding: 20px 40px; /* Adjust padding as needed */
}

*{
    font-family: cursive;
  }

.name {
    flex: 1; /* Allow the class name to take up available space */
    text-align: left;    
}

h1{
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
}
.nav h2 {
    margin-left: 30px; /* Add space between each link */
}

.nav h2 a {
    color: azure;
    text-decoration: none; /* Remove underline from links */
}
