.nav {
    background: linear-gradient(to right, #add8e6, #00008b); /* Gradient from light blue to dark blue */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.nav {
    justify-content: right;
    padding: 20px; /* Add some padding for better readability */
}

.nav h2 {
    display: inline-block;
    margin-left: 30px; /* Add space between each link */
    color:azure;
}

.nav h2 a {
    color:azure;
    text-decoration: none; /* Remove underline from links */
}