.nav {
    background: linear-gradient(to left, #add8e6, #00008b); /* Gradient from light blue to dark blue */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.nav {
    text-align: right; /* Shift content to the right */
    padding: 20px; /* Add some padding for better readability */
}

.nav h4 {
    display: inline-block;
    margin-left: 20px; /* Add space between each link */
    color: black;
}

.nav h4 a {
   
    text-decoration: none; /* Remove underline from links */
}