.body1{
    align-items: center;
    justify-content: center;
  }
  
  .search-form input button{
    display: inline-block;
    margin-left: 30px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header */
  th {
    
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table rows */
  td {
    border: 1px solid ;
    padding: 8px;
  }
  .search-container {
    position: relative;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .search-container input[type="text"]:focus {
    border-color: #007bff;
  }
  
  .search-container input[type="text"]::placeholder {
    color: #aaa;
  }
  
  .search-container input[type="text"] + .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Style for product item */
  .product-item {
    margin-bottom: 5px;
  }
    .product-list {
      margin-top: 20px;
    }
    
    .product-item {
      
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    
    .product-item h1 {
      margin: 0;
      font-size: 20px;
      color: #333;
    }
    